/*----- DESIGN INGREDIENT FOR CONSISTENCY


01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
    Default: 400

- Line heights
Default: 1


02 COLORS
- Primary: #e67e22
- Tints:
- Shades:
- Accents:
- Greys: 
#555

--05 SHADOWS


--06 BORDER-RADIUS


--07 WHITE-SPACE



- Spacing System (px)
2 /4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--------- */

/* --------INITAL CSS SETUP BELOW--------- */

/* Global reset, should be done on every project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5%  16px is default font size, while 10px is our preferred size.*/
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

/* default styles for the website */
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555; /*here the 555 represents 55 55 55, since 2 digits are same you can just write 1 for each pair.*/
}

/* --------HERO SECTION------ */

.hero {
  /* setting max-width for responsive design */
  max-width: 130rem;

  /* setting all content to centre, 0 is for top and bottom, auto keeps all content in middle */
  margin: 0 auto;

  /* setting display to grid then 2 columns with equal width. */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  /* fills the whole parent section */
  width: 100%;
}
